* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    flex-direction: column;
    transition: 0.5s;
}

.label {
    height: 30px;
    width: 55px;
    border-radius: 50px;
    background-color: rgb(136, 136, 136);
}

.ball {
    height: 25px;
    width: 25px;
    background-color: whitesmoke;
    margin-top: 2.5px;
    border-radius: 50%;
    margin-left: 2.3px;
    transition: 0.5s;
}

.checkbox {
    opacity: 0;
}

.checkbox:checked+.label .ball {
    transform: translateX(25px);
}

.darkMode {
    background-color: rgba(25, 26, 29, 0.882);
    color: whitesmoke;
}