*{
   margin: 0;
   padding: 0;
}
.container{
   width: 90%;
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

img{
   max-width: 100%;
   max-height: 90%;
   object-fit: cover;
}
.shows{
   visibility: hidden;
}
.label {
   /* opacity: 0; */
   visibility:visible;
   margin: 2px;
   padding: 2px;
             /* background:#F7EC7D;
          height:60px;
          width:160px;
          position: absolute;
          top:100px;
          border-radius: 0 1000% 1000% 0 */
   position: absolute;
   background-color: rgba(73, 70, 70, 0.541);
   color: white;
   border-radius: 2vh;
   width: 15%;
   transition: 1s;
}
/* .label:hover{
   opacity: 0.7;
   transition-delay: 0.5s;
} */
.eye{
   top: 25%;
   left: 35%;
}
.belly{
   top: 55%;
   left: 55%;
}
.trunk{
   top: 30%;
   left: 12%;
}
.leg{
   top: 90%;
   left: 55%;
}
.tail{
   top: 55%;
   left: 80%;
}
.hair{
   top: 8%;
   left: 35%;
}