*{
  margin: 0;
}
.container{
  height: 100vh;
  width: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search_bar{
  width: 2vw;
  height: 4.8vh;
  background-color: grey;
  border-radius: 2rem;
  position: absolute;
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.search_bar:hover input {
display: inline;
}
.search_bar:hover i{
  margin-right: 1rem;
}
.search_bar:hover{
  width: 20vw;
  border-radius: 2rem;
  justify-content: right;
}

i{
  color: white;
}
input{
  display: none;
}
input{
  background-color: grey;
  color: white;
  border:1px solid grey;
  border-bottom: 1px solid white;
  width: 85%;
  outline: none;
  font-size: large;
}
input::placeholder{
  color: whitesmoke;
  font-size: small;
  
}
